<div class="container">
<h1>Create Restaurant</h1>
<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :category, collection: Restaurant::CATEGORIES %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.submit %>
<% end %>
  <%= link_to 'Voltar para lista', restaurants_path %>
  </div>
